<!DOCTYPE html>
<html>
     <head>
         <title>Form 1</title>
     </head>
     <body>
        <form>
            <fieldset>
                <legend>Student Information</legend>
                <br></br>
             <label>Please Enter your Name :</label>
             <input tpye="text" name="Usename" Size ="25" maxilength="50"/><br></br>
             <label>Enter your Collage Name : </label><input type="text" name="collage name"/><br></br>
             <label>Regisatation No : </label><input type="text" name="regid"/><br><br>
             <select name="setCourse">
                <option selected="selected" value="">Selecte Course</option>
                <option value="bca">BCA</option>
                <option value="bba">BBA</option>
                <option value="b.com">B.Com</option>
                <option value="bhm">BHM</option>
                <option value="ba">BA</option>
                <option value="mca">MCA</option>
                <option value="mba">MBA</option>
                <option value="m.com">M.COM</option>
                <option value="other">OTHER</option>
             </select>
             <label>If you select Other than Enter your Course : </label><input type="text" name="course"/>
             <br></br>
             <label>Male<input type="radio" name="Gender" value="M"/></label>
             <label>Female<input type="radio" name="Gender" value="F" /></label><br></br>
             <label>Content No : </label><input type="text" name="number" maxlength="10" /><br><br>
             <label>Password :</label>
             <input type="password"/><br></body><br>
             <input type="button" value="Submit"/>
             <input type="reset" value="reset"/>
             <br><br>
            </fieldset>
        </form>
        <br></br>
        <table border="3">
            <tr>
                <th>Name Of Student</th>
                <th>Course</th>
            </tr>
            <tr>
                <td>Ram</td>
                <td>BBA</td>
            </tr>
            <tr>
                <td>Harsh</td>
                <td>BCA</td>
            </tr>
            <tr>
                <td>Deep</td>
                <td>B.com</td>
            </tr>

        </table>
        <img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" alt="Nature Photo" height="500" width="500">
        <br></br>
        <P>this photo is beautifull</P>
        <br></br>
        <a href="http://www.fackbook.com">fackbook.com</a>
        <br></br>
        <h5>mobile Company</h5>
        <ol>
            <li>Apple</li>
            <li>One plus</li>
            <li>Realme</li>
            <li>MI</li>
        </ol>

     </body>
</html>