<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1> Welcome to the text analyazer</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="width: 721px; height: 93px;" placeholder="Enter the text here..."></textarea><br>
   <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">Upper Case<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspceremover">Space Remover<br>
    <input type="checkbox" name="charcount">char count<br>

    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>